#include "app_icon.h"

IDI_APP_ICON ICON "../app.ico"

IDR_FONT_UI RCDATA "../assets/fonts/Orbitron/Orbitron-Medium.ttf"
IDR_FONT_TITLE RCDATA "../assets/fonts/Orbitron/Orbitron-Bold.ttf"
IDR_FONT_MONO RCDATA "../assets/fonts/Fira_Code/FiraCode-Medium.ttf"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "Ar-mane"
			VALUE "FileDescription", "V-AFK Anti-AFK Tool"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "V-AFK"
			VALUE "LegalCopyright", "Copyright (c) 2026 Ar-mane"
			VALUE "OriginalFilename", "V-AFK.exe"
			VALUE "ProductName", "V-AFK"
			VALUE "ProductVersion", "1.0.0.0"
		END
		BLOCK "000004B0"
		BEGIN
			VALUE "CompanyName", "Ar-mane"
			VALUE "FileDescription", "V-AFK Anti-AFK Tool"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "V-AFK"
			VALUE "LegalCopyright", "Copyright (c) 2026 Ar-mane"
			VALUE "OriginalFilename", "V-AFK.exe"
			VALUE "ProductName", "V-AFK"
			VALUE "ProductVersion", "1.0.0.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200, 0x0000, 1200
	END
END
